name: Release

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write
  packages: write

concurrency:
  group: gasripper-libdiscid-ts
  cancel-in-progress: false

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          token: "${{ secrets.GITHUB_TOKEN }}"
          submodules: true
          clean: true
          fetch-depth: 1

      - name: Setup nodejs
        uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: "https://npm.pkg.github.com"

      - name: NPM publish
        run: |
          sudo DEBIAN_FRONTEND=noninteractive apt-get -yq update
          sudo DEBIAN_FRONTEND=noninteractive apt-get -yq install \
            build-essential \
            make \
            cmake \
            gcc \
            g++
          npm ci || exit 1
          npm publish || exit 1
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
